<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Notes List</title>

  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
  <link rel="stylesheet" href="{% static 'css/button.css' %}" />
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $(function(){
      $("#nav-placeholder").load("navbar.html");
    });
  </script>

</head>
<body>

  <div id="nav-placeholder"></div>


  <div class="btn-container">
    <a href="/lab-4/add-note" class="button">Add New Note</a>
  </div>

  <div class = "notes-container">
    <table id="notes">
      <tr>
        <th>Receiver (To)</th>
        <th>Sender (From)</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %}
            {% for note in notes %}
            <tr>
                <td>{{ note.msg_to }}</td>
                <td>{{ note.msg_from }}</td>
                <td>{{ note.msg_title }}</td>
                <td>{{ note.msg_message }}</td>
            </tr>
            {% endfor %}
          {% endif %}
    </table>
  </div>

</body>
</html>