<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Test for TK</title>

    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

</head>
<body>
<div class="content">

    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h3>Are you sure you want to delete the item?</h3>
            </div>
            <div class="card-content">
                <h4>Title: {{ message.msg_title }}</h5>
                <p>{{ message.msg_message }}</p>

                <form method="POST">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    <input class="button" type="submit" value="Yes" />
                    <a href="/test-tk/{{ person.npm }}" class="button">Cancel </a>
                </form>
            
            </div>
        </div>
    </div>
    

</div>
</body>
</html>