<!DOCTYPE html>

{% load static %}

<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <title>Add Messages</title>
  
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  
  </head>

<body>

  <div class="btn-container">
    <a href="/test-tk/{{ person.npm }}" class="button">Go Back</a>
  </div>

  <h3 class="form-head">Create a new Message</h3>

  <div class="button-div">
    <form class="form" action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="button">
    </form>
  </div>

</body>
</html>