<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Test for TK</title>

    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cards.css' %}" />

</head>
<body>
<div class="content">


    <form name="myform" method="GET" action="{% url 'search' %}">  
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search" >
    </form>  


    <table id="notes">
    <tr>
        <th>Full Name</th>
        <th>NPM</th>
        <th>Detail Button</th>
    </tr>
    {% if persons %}
            {% for person in persons %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.npm }}</td>
                <td>
                    <!-- REFERENCE IF USING FORMS TO OBTAIN
                    <form name="myform" method="GET" action="{% url 'search' %}">  
                        {% csrf_token %}
                        <div class="btn-container">
                            <button type="submit" name="search" value={{ person.npm }} class="button">View Details</button>
                        </div>
                    </form>  
                    -->
                    <div class="btn-container">
                        <a href="/test-tk/{{ person.npm }}" class="button">View Details</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>

</div>
</body>
</html>