{% comment %} {% if persons %}
    {% for person in persons %}
    <a href="{% url 'buy_book' pk=person.pk %}"> 
    <!--Upon successful search book image with hyperlink appears -->
        <p>{{person.name}}</p>
        <p>{{person.npm}}</p>   
    {% endfor %}
{% endif %} {% endcomment %}

<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Notes List</title>

  <link rel="stylesheet" href="{% static 'css/cards.css' %}" />
  <link rel="stylesheet" href="{% static 'css/button.css' %}" />
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

</head>
<body>

  <div class="btn-container">
    <a href="/test-tk" class="button">Go Back</a>
  </div>

  <div class="card-container">
    {% if person %}
        <div class="card">
          <div class="card-header">
            <h3>{{ person.name }}</h3>
          </div>
          <div class="card-content">
            <h4>NPM: {{ person.npm }}</h5>
            <div class="btn-container">
                <a href="/test-tk/{{ person.npm }}/create" class="button">Create New Message</a>
            </div>
            <hr>

            {% if messages %}
                {% for message in messages %}
                    <hr>
                    <h4>Title: {{ message.msg_title }}</h5>
                    <p>{{ message.msg_message }}</p>
                    <div class="btn-container">
                        <a href="/test-tk/{{ message.id }}/delete" class="button">Delete Message</a>
                    </div>
                {% endfor %}
            {% endif %}

          </div>
        </div>
    {% endif %}
  </div>


</body>
</html>