<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="h2Edit" id="{{ note.id }}">Edit Notes Titled "{{note.msg_title}}" </h2>
    </div>
    <div class="modal-body">
        <form class="form" action="" method="POST" id="updateForm">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="button-primary" id="submitbtn">
        </form>
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var submit = $("#submitbtn");

var submitbtn = $(".button-primary");


$(document).ready(function(){
    span.onclick = function() {
      modal.style.display = "none";
      $("#modal-placeholder").empty();
  }

  $('.button-primary').click(function(event){
      var elemID = document.getElementsByClassName("h2Edit")[0].id;
      event.preventDefault(); //so that we stop normal form submit.
      $.ajax({
          url: '/lab-5/edit/'+elemID,
          type: 'POST',
          dataType: 'json',
          data: $('form#updateForm').serialize(),
          success: function (data, textStatus) {
            modal.style.display = "none";
            updateElement(elemID);
            $("#modal-placeholder").empty();
          }
      });
    });
});

</script>