<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Notes List</title>

  <link rel="stylesheet" href="{% static 'css/lab5/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/lab5/buttons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/lab5/modals.css' %}" />
  <link rel="stylesheet" href="{% static 'css/lab5/formslab5.css' %}" />

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    /* var viewbtn = $('<div class="btn-container"><a href="/lab-5/' + add-note + '" class="button-primary">View Note</a></div>'); */
    const viewbtn = [];
    const editbtn = [];
    const delbtn = [];

    function viewFunction(elem) {
            $(function(){
                $("#modal-placeholder").load("/lab-5/notes/"+elem.id);
            });
        }

    function editFunction(elem) {
            $(function(){
                $("#modal-placeholder").load("/lab-5/edit/"+elem.id);
            });
        }
    
    $(document).ready(function(){
        $.ajax({
            url: "http://127.0.0.1:8000/lab-2/json", 
            success: function(result){
                console.log(result)
                for(i=0; i < result.length; i++){
                    viewbtn[i] = ('<div class="btn-container"><button type="button" onclick="viewFunction(this)" id="' + result[i].pk + '"" class="button-primary">View Note</a></div>');
                    editbtn[i] = ('<div class="btn-container"><button type="button" onclick="editFunction(this)" id="' + result[i].pk + '"" class="button-secondary">Edit Note</a></div>');

                    $("#notes").append(
                        '<tr id="row'+result[i].pk+'">'+
                        "<td>"+result[i].fields.msg_to+"</td>"+
                        "<td>"+result[i].fields.msg_from+"</td>"+
                        "<td>"+result[i].fields.msg_title+"</td>"+
                        "<td>"+viewbtn[i]+editbtn[i]+"</td>"+
                        "</tr>"
                    );
                }        
        }});
    });

    function updateElement(elemID) {
        var rowElement = document.getElementById("row"+elemID);
        $.ajax({
            url: "http://127.0.0.1:8000/lab-5/get/"+elemID, 
            success: function(result){
                var tdElements = rowElement.getElementsByTagName("td");
                console.log(tdElements[0].innerHTML);
                console.log(result[0].fields.msg_to);
                tdElements[0].innerHTML = result[0].fields.msg_to;
                tdElements[1].innerHTML = result[0].fields.msg_from;
                tdElements[2].innerHTML = result[0].fields.msg_title;     
        }});  
    }

    function print(input){
        console.log(input);
    }

    function refreshList(){
        var table = $("#notes");

        while (table.firstChild) {
            table.removeChild(table.firstChild);
        }

        $.ajax({
            url: "http://127.0.0.1:8000/lab-2/json", 
            success: function(result){
                console.log(result)
                for(i=0; i < result.length; i++){
                    viewbtn[i] = ('<div class="btn-container"><button type="button" onclick="viewFunction(this)" id="' + result[i].pk + '"" class="button-primary">View Note</a></div>');
                    editbtn[i] = ('<div class="btn-container"><button type="button" onclick="editFunction(this)" id="' + result[i].pk + '"" class="button-secondary">Edit Note</a></div>');

                    $("#notes").append(
                        "<tr id="+result[i].pk+">"+
                        "<td>"+result[i].fields.msg_to+"</td>"+
                        "<td>"+result[i].fields.msg_from+"</td>"+
                        "<td>"+result[i].fields.msg_title+"</td>"+
                        "<td>"+viewbtn[i]+editbtn[i]+"</td>"+
                        "</tr>"
                    );
                }        
        }});

    }

  </script>

</head>
<body>

    <div id="modal-placeholder"></div>

  <div class = "notes-container">
    <table id="notes">
      <tr>
        <th>Receiver (To)</th>
        <th>Sender (From)</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </table>
  </div>

</body>
</html>