<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>{{ note.msg_title }}</h2>
    </div>
    <div class="modal-body">
      <h4>From: {{ note.msg_from }}</h4>
      <h4>To: {{ note.msg_to }}</h4>
      <h4>Content:</h4>
      <p>{{ note.msg_message }}</p>
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  $("#modal-placeholder").empty();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  $("#modal-placeholder").empty();
}
</script>