{% if notes %}
    {% for note in notes %}
    <tr>
        <td>{{ note.msg_to }}</td>
        <td>{{ note.msg_from }}</td>
        <td>{{ note.msg_title }}</td>
        <td>
        <div class="btn-container">
            <a href="/lab-4/add-note" class="button-primary">View Note</a>
        </div>
        <div class="btn-container">
            <a href="/lab-4/add-note" class="button-secondary">Edit Note</a>
        </div>
        <div class="btn-container">
            <a href="/lab-4/add-note" class="button-delete">Delete Note</a>
        </div>
        </td>
    </tr>
    {% endfor %}
{% endif %}