<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Receiver</th>
        <th>Sender</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% if notes %}
        {% for note in notes %}
        <tr>
            <td>{{ note.msg_to }}</td>
            <td>{{ note.msg_from }}</td>
            <td>{{ note.msg_title }}</td>
            <td>{{ note.msg_message }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
