.button-primary, .button-secondary, .button-delete {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button-secondary {
    background-color: white; /* Green */
    border: 2px solid #04AA6D;
    color: #04AA6D;
}

.button-delete {
    background-color: white; /* Green */
    border: 2px solid red;
    color: red;
}
  
.button-primary:hover, .button-secondary:hover {
    background-color: #02754b; /* Green */
    color: white;
}

.button-delete:hover {
    background-color: red; /* Green */
    color: white;
}

  
.btn-container {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}