.button-primary, .button-secondary, .button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button-secondary {
    background-color: none; /* Green */
    border: #04AA6D;
    color: #04AA6D;
}
  
.button:hover {
    background-color: #02754b; /* Green */
    color: white;
}
  
.btn-container {
    display: flex;
    justify-content: center;
    padding: 30px 60px;
}