/* https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */

.form-head {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
}

input[type=submit]:hover {
  background-color: #02754b;
}

.button-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2rem;
}

.add {
    background-color: #04AA6D
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}